{% extends 'layouts/form.html' %}
{% block title %}Search{% endblock %}
{% block content %}

<link type="text/css" rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

<div style="margin-bottom: 20px; margin-top:20px ; max-width: 400px;">

    
       
  <img src="{{image}}" class="d-block w-100" alt="Hotel Image">
            
                <p style="margin-left:200px; margin-right:-900px; margin-top:-200px;">
                  Hotel Name: {{hotel_name}}<br>
                  Hotel Address: {{add}}, {{city}}, {{state}}, {{zip}}, {{country}} <br>
                  Price per night: $ {{p}} <br>

                </p>


                
                
                <div style="margin-left:200px; margin-right:-900px;" class="frm-row">
                  <div  class="section colm colm6">
                    <label  for="checkin" class="field-label">Check-in Date</label>
                    {{checkin}}
                      <span class="field-icon"><i class="fa fa-calendar"></i></span>  
                    </label>
                  </div>
                   
                  <div class="section colm colm6">
                    <label for="checkout" class="field-label">Check-out Date</label>
                    {{checkout}}

                    
                      <span class="field-icon"><i class="fa fa-calendar"></i></span>  
                    </label>
                  </div>
                </div>
                <br>



           
                




       
           
             
            
            
    


        


        </tr>
    </tbody>
    </div>

    
</div>
<h1 style="color:black"><br></h1>
    <div class="row">
        <div style="margin-right: 10px; max-width: 800px;" class="col-75">
          <div class="container">
      
              <div class="row">
                <div class="col-50">
                  <h3>Billing Address</h3>
                  <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
                  <label for="email"><i class="fa fa-envelope"></i> Email</label>
                  <input type="text" id="email" name="email" placeholder="john@example.com">
                  <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                  <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
                  <label for="city"><i class="fa fa-institution"></i> City</label>
                  <input type="text" id="city" name="city" placeholder="New York">
      
                  <div class="row">
                    <div class="col-50">
                      <label for="state">State</label>
                      <input type="text" id="state" name="state" placeholder="NY">
                    </div>
                    <div class="col-50">
                      <label for="zip">Zip</label>
                      <input type="text" id="zip" name="zip" placeholder="10001">
                    </div>
                  </div>
                </div>
                
                
      
              </div>
              <label>
                <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
              </label>
              
              <form action="{{url_for('payment')}}" method="POST"> 
                <input type="hidden" name="price" value="{{p}}">
                <input type="hidden" name="add" value="{{add}}">
                <input type="hidden" name="hotel_name" value="{{hotel_name}}">
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="checkin" value="{{checkin}}">
                <input type="hidden" name="checkout" value="{{checkout}}">
                <input type="hidden" name="country" value="{{add}},{{city}},{{state}},{{zip}},{{country}}">
                

              <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="pk_test_51KxjFzLGavGifIHgE46wfoXUQnSmanRC0rX6KRsL6iH0gII3LZ1INayMe0nH51wIJdakCyEwhEoux6tjphnPIbnm00gWEU1Qcx"
                data-name="Checkout App"
                data-description="Current Order"
                data-amount="{{ price }}"
                data-currency="usd">
              </script>
            </form>
            
          </div>
        </div>
      
        <div class="col-25">
          <div class="container">
            <h4>Cart
              <span class="price" style="color:black">
                <i class="fa fa-shopping-cart"></i>
              </span>
            </h4>
            <p><a href="#"> Room</a> <span class="price">${{p}}</span></p>
            <hr>
            <p>Total <span class="price" style="color:black"><b>${{p}}</b></span></p>
            <p>Reward Points Earned: <span class="price" style="color:black"><b>{{ (p)| int }} points</b></span></p>

          </div>
        </div>
      </div>

      

      {% endblock %}